@font-face {
  font-family: "SegoePrintRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SegoePrintRegular/SegoePrintRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoePrintRegular/SegoePrintRegular.woff") format("woff"), url("../fonts/SegoePrintRegular/SegoePrintRegular.ttf") format("truetype");
}
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FontAwesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("../fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype");
}
/* line 9, ../sass/header.sass */
body {
  font-size: 15px;
  min-width: 320px;
  position: relative;
  line-height: 1.375em;
  font-family: "SegoePrintRegular", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  overflow-x: hidden;
  color: #333333;
  margin: 0;
  padding: 0;
  background-color: black;
}

/* line 24, ../sass/header.sass */
.before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

/* line 32, ../sass/header.sass */
.hidden {
  display: none;
}

/* line 36, ../sass/header.sass */
a {
  text-decoration: none;
}
/* line 38, ../sass/header.sass */
a:hover, a a:active, a a:focus {
  text-decoration: underline;
}

/* line 43, ../sass/header.sass */
.headers, h1, h2, h3, h4, h5, h6 {
  font-family: "SegoePrintRegular", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  text-transform: none;
  font-weight: normal;
  color: #fff;
  text-align: center;
  line-height: 1.3em;
}

/* line 57, ../sass/header.sass */
h1 {
  font-size: 2.375em;
}

/* line 60, ../sass/header.sass */
h2 {
  font-size: 1.875em;
}

/* line 63, ../sass/header.sass */
h3 {
  font-size: 1.5em;
}

/* line 66, ../sass/header.sass */
b, strong {
  font-family: "SegoePrintRegular", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

/* line 69, ../sass/header.sass */
.section_1 {
  background-image: url("../img/map.png");
  min-height: 500px;
  background-size: cover;
  background-color: #000000;
}

/* line 76, ../sass/header.sass */
.nav-wrap, .fa-bars-wrap .nav-wrap-hidden ul li {
  text-align: right;
}
/* line 78, ../sass/header.sass */
.nav-wrap li, .fa-bars-wrap .nav-wrap-hidden ul li li {
  display: inline-block;
  list-style-type: none;
  padding: 10px;
}
/* line 82, ../sass/header.sass */
.nav-wrap li a, .fa-bars-wrap .nav-wrap-hidden ul li li a {
  color: #fff;
}

/* line 88, ../sass/header.sass */
.fa-bars-wrap {
  display: block;
  visibility: hidden;
  text-align: right;
  margin: 40px 50px 0;
  position: relative;
}
/* line 94, ../sass/header.sass */
.fa-bars-wrap a {
  display: block;
}
/* line 99, ../sass/header.sass */
.fa-bars-wrap .nav-wrap-hidden {
  display: none;
  position: absolute;
  right: 0;
  box-shadow: 0 0 10px black;
  border-bottom: 3px solid #999999;
  width: 200px;
}
/* line 107, ../sass/header.sass */
.fa-bars-wrap .nav-wrap-hidden nav {
  width: 200px;
}
/* line 109, ../sass/header.sass */
.fa-bars-wrap .nav-wrap-hidden ul {
  margin: 0;
  padding: 0;
}
/* line 115, ../sass/header.sass */
.fa-bars-wrap .nav-wrap-hidden ul li {
  display: block;
  background-color: #DDD;
  width: 200px;
  padding: 7px;
  text-align: center;
  opacity: 0.8;
}
/* line 124, ../sass/header.sass */
.fa-bars-wrap .nav-wrap-hidden ul li:hover {
  background-color: #fff;
  transition: all 1s ease;
  opacity: 1;
  transform: scale(1.01);
}
/* line 130, ../sass/header.sass */
.fa-bars-wrap .nav-wrap-hidden ul li a {
  color: #333333;
  display: block;
}
/* line 133, ../sass/header.sass */
.fa-bars-wrap .nav-wrap-hidden ul li a:hover {
  transform: scale(1.01);
  text-decoration: none;
}
/* line 136, ../sass/header.sass */
.fa-bars-wrap .on {
  display: block;
}
/* line 144, ../sass/header.sass */
.fa-bars-wrap .fa-bars {
  color: white;
  cursor: pointer;
  font-size: 1.75em;
}
/* line 148, ../sass/header.sass */
.fa-bars-wrap .fa-bars:hover {
  transition: all 0.5s ease;
  color: #ddd;
}

/* line 156, ../sass/header.sass */
.about {
  color: #333333;
  margin: 0 0 -100px;
}
/* line 160, ../sass/header.sass */
.about .wrap {
  background-color: #fff;
  background-image: url("../img/map.png");
  background-size: cover;
  height: 350px;
  margin-top: 200px;
  position: relative;
}
/* line 170, ../sass/header.sass */
.about .wrap .text {
  width: 50%;
  position: absolute;
  right: 0;
  background-color: #fff;
  opacity: 0.8;
  display: block;
  text-align: center;
  vertical-align: middle;
  height: 100%;
}
/* line 182, ../sass/header.sass */
.about .wrap .text h1 {
  color: #333333;
  position: absolute;
  display: block;
  width: 100%;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}
/* line 190, ../sass/header.sass */
.about .wrap .text p {
  color: #333333;
  position: absolute;
  display: block;
  width: 70%;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}
