/*Меню*/

/*меню для прокрутки*/
#menu.default {
	position:relative;
}
#menu.fixed {
	position:fixed;
	margin: auto;
	width:100%;
	top:0;
	right: 0;
	padding-right: 60px;
	opacity: 0.7;
	z-index: 10000;
	background-color: black;
}

#menu.fixed:hover {
	opacity: 1;
}



/*меню для прокрутки*/