*{
    margin: 0px;
    margin: 0px;

    /*Данные методы делают чтобы не учитывался padding при расчете ширины*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
}

h2{
    text-transform: uppercase;
}


body{
    font-family: Georgia, serif;
color: #333333;

}


header {
    background-image: url('../img/gradient4.png');
    background-repeat: repeat-x;
    min-height: 20em;
    width: 100%;
    padding-top: 150px;


}

p.justify{
    text-align: justify;
}

p.justifya{
    text-align: justify;
    color: white;
    word-break: normal;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    text-indent: 2em;

}

.lamp{
    background-image: url('../img/lamp.jpg');
    width: 100%;
    min-height: 700px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.myfoto{
    /*background-color: rgb(149,193,31);*/
    background-color: rgb(40,173,126);
    background-image: url('../img/bg1.jpg');
    background-size: 100%;
    background-position: center;
    max-width: 400px;
    min-width: 181px;
    height: 150px;
    margin:   auto ;
    padding: 30px;

}
.circle{
    width: 150px;
    height: 150px;
    background: white;
    background-image: url('../img/1.jpg');
    background-size: 150px ;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 100px;
    margin: auto;
}

.green-circle-left{
    width: 150px;
    height: 150px;
    background: white;
    background-image: url('../img/2.jpg');
    background-size: 150px ;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 100px;
    margin: 20px  auto;
}

.green-circle-rigth{
    width: 150px;
    height: 150px;
    background: white;
    background-image: url('../img/3.jpg');
    background-size: 150px ;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 100px;
    margin: 20px  auto;
}

.green-circle-rigth2{
    width: 150px;
    height: 150px;
    background: white;
    background-image: url('../img/2.jpg');
    background-size: 150px ;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 100px;
    margin: 20px  auto;
}


.green-circle-middle{
    width: 150px;
    height: 150px;
    background: white;
    background-image: url('../img/1.jpg');
    background-size: 150px ;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 100px;
    margin: 20px  auto;
}
.margin{
    width: 100%;
    height: 100px;
    position: relative;
}

.margin-grey{
    width: 100%;
    height: 100px;
    position: relative;
    background-color: grey;
}
.central{
    max-width: 400px;
    min-width: 181px;
    margin: 10px  auto 0px;
    text-align: center;
    line-height: 36px;
    font-weight: 400;
    color: #333333;
}
.name p{
    margin-top:-20px;
}

.green{
    background-color: rgb(40,173,126);
    width: 100%;
    min-height: 400px;
    z-index: 100;
    padding: 20px;
    margin: auto;
    overflow: hidden;
    position: relative;


    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;



    
}
.green:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url(../img/bg2.jpg) 0 0 repeat;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
}

.green h3{
    color:white !important;
}

.one, .two, .three, .four{
    width: 25%;
    position: relative;
    float:left;
    min-height: 150px;
    min-width:200px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}


.clear{
    clear: both;
}

.content{
    max-width: 1024px;
    min-width: 181px;
    min-height: 400px;
    margin: auto;

    
}


.one_white, .two_white{
    width: 50%;
    position: relative;
    float:left;
    min-height: 150px;
    min-width:180px;
    /*padding: 0px 10px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.experience{
    float: left;
    max-width: 300px;
    margin: 20px;
}


.block{

    min-width: 200px;
    max-height: 150px;
    background-color: lightgrey;
    float: left;
    width: 25%;
    height: 10em;
    margin: auto;
    border: 5px solid white;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


}



@media (max-width:1000px ) {
    .one, .two, .three, .four{
        width: 50%;
    }
}



@media(max-width:820px){
    .block{
        width: 50%;
    }
}

@media (max-width:730px ) {
     .one_white, .two_white{
        width: 100%;
         margin: auto;
         padding: 0 15%;
    }
    .lamp{
        background: none;
        height: auto;
    }
    .block{
        width: 50%;
    }


}
@media (max-width:600px ) {
    .one, .two, .three, .four, .one_white, .two_white{
        width: 100%;
    }
    .lamp{
        background: none;

    }
    .block{
        width: 100%;
    }

}

@media (max-width:365px ) {
    .one_white, .two_white{

        margin: auto;
        padding: 0%;
    }
    .lamp{
        background: none;
        height: auto;
    }
    .block{
        width: 100%;
    }


}









