
/* В данном файле стили элементов используемых для паралакса*/


.paralax{
    background-image: url('../img/paralaxbg.jpg');
    height: 60vh;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
}
.heder_text{
    font-family: "Arial",sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    display: inline-block;
    width: 450px;
    height: 40px;
    color: #fff;
    text-align: center;
    position: absolute;
    top:20%;
    left:50%;
    margin-left: -225px;
    margin-top: -20px;

}

.paralaximg{
    position: absolute;
    width: 100%;
    margin-top: 170px;
    z-index: -500;


}