@import "../bourbon/bourbon"
@import "../libs/Magnific-Popup/magnific-popup.sass"
@import "../libs/owl/assets/owl.carousel.sass"


$main-color: #fff
$ser: #DDD
$cfb: #333333

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here

.section_2
	min-height: 500px
	background-color: #000
	padding-top: 250px
	box-sizing: content-box



.section_2
	.section-head
		margin-bottom: 1px

.slider
	margin-bottom: 25px
	.slide
		text-align: center
		margin-bottom: 30px
		position: relative
	.owl-item
		.img-wrap, .slide-descr, h3, p
			transition: all 1s ease
			opacity: 0
			transform: translate3d(100px, 0, 0)
		.slide-descr, h3
			transition-delay: .4s
		p
			transition-delay: .8s

		&.active
			.img-wrap, .slide-descr, h3, p
				opacity: 1
				transform: translate3d(0, 0, 0)

		.img-wrap
			width: 85%

			display: inline-block
			//border-radius: 10em
			overflow: hidden
			box-shadow: 0 0 0 7px $main-color
			margin: 10px
			transform: translate(20%,50%)

		h3
			text-transform: none
			font-size: em(24px)
			margin-bottom: 7px
		.slide-descr
			font-size: em(14px)
			color: #6E7B8B
		p
			margin-top: 18px
			margin-bottom: -20px

	.owl-controls
		text-align: center
		.owl-dot
			width: 15px
			height: 15px
			margin: 0 3px
			background-color: #ccc
			display: inline-block
			border-radius: 10em
			&.active
				background-color: $main-color
		.owl-nav
			display: none

			position: absolute
			top: 15%
			width: 100%
			> div
				height: 29px
				width: 16px
				background-image: url(../img/slider_arrows.png)
				position: absolute
				left: 20px
				opacity: .5
				transition: all .25s ease
				&:hover
					opacity: 1
			.owl-next
				right: 20px
				left: auto
				background-position: -16px 0


.img-wrap
	display: block
	width: 100%
	height: 100%


.section_3
	@extend .section_2
	text-align: center
	padding-top: 150px

	.text
		display: block
		height: auto
		margin-bottom: 50px
		text-align: center
		vertical-align: middle
	::after
		width: 100%



		.wrap-text
			display: block
			vertical-align: middle
			padding: 30% 0

			h2
				












	.image
		display: block
		.img-wrap
			@extend .img-wrap
			img
				width: 100%
				height: 100%







//ALWAYS END
@import "_media.sass"
